# Build outputs
dist/               
build/              
*.exe              
*.spec            

# Python
__pycache__/       
*.py[cod]         
*$py.class         

# IDE - Visual Studio Code
.vscode/           
*.code-workspace  

# Project specific
version.txt        
output/            
